{% extends "intrerf.html" %}

{% block content %}

<div class="right_of_serverheader">
    <div class="top_header">
        <div class="top_header_left">
            <input type="text" placeholder = "Найти или начать беседу" value = "">
        </div>
    </div>    
    <div class="pod_topheader">
        <div class="chats_header">
            <div class="dop_chats_header">
                <div class = "dop_chat">
                    <img src="" alt="">
                    <a href="">Друзья</a>
                </div>
                <div class = "dop_chat">
                    <img src="" alt="">
                    <a href="">...</a>
                </div>
                <div class = "dop_chat">
                    <img src="" alt="">
                    <a href="">...</a>
                </div>
            </div>
            <div class="personal_chats_list">
                
            </div>
            <div class="mainPrivileges">
                <div class="acc_info">
                    <div class="img_acc_info">
                        <img  class = "" src="{{ url_for('static', filename='img/menu.png')}}" alt="us">
                    </div>
                    <div class="acc_type">
                        <a href="">{{current_user.name}}</a>
                        <a href="">В сети</a>
                    </div>

                </div>
                <div class="privileges_info">
                    <a href="">1 </a>
                    <a href="">2 </a>
                    <a href="">3 </a>
                </div>
                <div>
                    
                </div>
            </div>  
        </div>
        <div class="mes_area">
            
        </div>
        <div class="dop_info_area">
            
        </div>
    </div>
    

</div>



<script>

</script>
{% endblock %}